@import url('https://fonts.googleapis.com/css?family=Anton|PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Nothing+You+Could+Do');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url('https://fonts.googleapis.com/css?family=Raleway');

/* @font-face {
    font-family: 'Sansation';
    src: url(assets/font/Sansation_Bold.ttf) format("bold");
    src: url(assets/font/Sansation_Regular.ttf) format("regular");
  } */

  .with-margins { 
      margin: 10px;
  }

    .left-align {
        margin-left:48px;
        margin-right:24px;
    }
    .cover {
        box-shadow: 10px 10px 5px #4d4d4d3f;
    }
    .cover-div {
        margin-top:24px;
        margin-right: 0px;
        padding:0px;
    }
    .date1 {
        font-family: Sansation;
        color:rgb(153, 26, 56);
    }
    .date {
        margin-top:8px;
        margin-bottom:4px;
        color:white;
    }

 

.banner-txt {
    text-align: center;
}
    .button-align {
    margin-top:36px;
    margin-bottom:36px;
  }
  .btn-img {
    padding:0px;
    margin:0px;
    background:transparent;
  }

  .btn-img-sm {
    padding:0px;
    margin: auto;
    background:transparent;
    width: 90%; 
  }

  .btn-txt {
      margin-top:12px;
      margin-bottom:12px;
      padding:12px;
      text-shadow: 2px 2px rgba(61, 61, 61, 0.178);
  }
  .reg-btn-txt {
    padding-left:48px;
    padding-right:48px;
    font-weight: 300;
}
.train-banner {
    margin-top:10%;
    padding:24px;
}
@font-face {
    font-family: Sansation;
    src: url(assets/font/Sansation_Bold.ttf);
    font-weight: bold;
  }

  @font-face {
    font-family: Sansation;
    src: url(assets/font/Sansation_Regular.ttf);
    font-weight: normal;
   
  }
  .banner {
    background:rgb(153, 26, 56); 
    padding-top:24px; 
    padding-bottom:24px
  }
  .date-txt {
    font-family: Sansation;
    font-weight: bold;
    font-size: 72px;
    color: rgb(153, 26, 56); 
    margin-bottom:8px;
  }
  .date-txt-secondary {
    font-family: Sansation;
    font-weight: normal;
    font-size: 36px;
    margin-top:8px;
  }
  .date-txt-sm {
    font-family: Sansation;
    font-weight: bold;
    font-size: 22px;
    color: rgb(153, 26, 56); 
    margin-bottom:8px;
  }
  .date-txt-secondary-sm {
    font-family: Sansation;
    font-weight: normal;
    font-size: 18px;
    margin-top:8px;
  }
  .spk-txt {
    font-family: Sansation;
    font-size: 20px;
    margin-left: 24px;
    margin-top:0px;
    margin-bottom:8px;
  }
  .address-txt {
    font-family: Sansation;
    font-weight: normal;
    font-size: 36px;
    margin-top:4px;
    margin-bottom:4px;
    margin-left:12px;
  }
  .address-txt-sm {
    font-family: Sansation;
    font-weight: normal;
    font-size: 18px;
    margin-top:4px;
    margin-bottom:4px;
    margin-left:12px;
  }
 
  .statue {
		position: relative;
		top: 0;
		left: 0;
	}
	.statue {
		position: absolute;
		top: 60px;
		left: 80px;
  }
  .caption {
    margin-top:8px;
    margin-bottom:12px
  }